#game-states ValueLabelElement {
    border-radius: 20px;
}

#game-states ValueLabelElement:disabled {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}

#game-states ValueLabelElement .name {
    font-size: 16px;
}

#game-states ValueLabelElement .container Label {
    font-size: 100px;
    color: rgb(255, 196, 0);
    font-size: 20px;
}
